anyio==4.7.0 ; python_version >= "3.11" and python_version < "3.14"
bleak-winrt==1.2.0 ; platform_system == "Windows" and python_version < "3.12" and python_version >= "3.11"
bleak==0.22.3 ; python_version >= "3.11" and python_version < "3.14"
certifi==2024.12.14 ; python_version >= "3.11" and python_version < "3.14"
dbus-fast==2.24.4 ; python_version >= "3.11" and python_version < "3.14" and platform_system == "Linux"
h11==0.14.0 ; python_version >= "3.11" and python_version < "3.14"
h2==4.1.0 ; python_version >= "3.11" and python_version < "3.14"
hpack==4.0.0 ; python_version >= "3.11" and python_version < "3.14"
httpcore==1.0.7 ; python_version >= "3.11" and python_version < "3.14"
httpx[http2]==0.28.1 ; python_version >= "3.11" and python_version < "3.14"
hyperframe==6.0.1 ; python_version >= "3.11" and python_version < "3.14"
idna==3.10 ; python_version >= "3.11" and python_version < "3.14"
plyer==2.1.0 ; python_version >= "3.11" and python_version < "3.14"
pyobjc-core==10.3.2 ; python_version >= "3.11" and python_version < "3.14" and platform_system == "Darwin"
pyobjc-framework-cocoa==10.3.2 ; python_version >= "3.11" and python_version < "3.14" and platform_system == "Darwin"
pyobjc-framework-corebluetooth==10.3.2 ; python_version >= "3.11" and python_version < "3.14" and platform_system == "Darwin"
pyobjc-framework-libdispatch==10.3.2 ; python_version >= "3.11" and python_version < "3.14" and platform_system == "Darwin"
python-dotenv==1.0.1 ; python_version >= "3.11" and python_version < "3.14"
sniffio==1.3.1 ; python_version >= "3.11" and python_version < "3.14"
typing-extensions==4.12.2 ; python_version >= "3.11" and python_version < "3.13"
windows-toasts==1.3.0 ; python_version >= "3.11" and python_version < "3.14"
winrt-runtime==2.3.0 ; python_version >= "3.11" and python_version < "3.14"
winrt-windows-data-xml-dom==2.3.0 ; python_version >= "3.11" and python_version < "3.14"
winrt-windows-devices-bluetooth-advertisement==2.3.0 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Windows"
winrt-windows-devices-bluetooth-genericattributeprofile==2.3.0 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Windows"
winrt-windows-devices-bluetooth==2.3.0 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Windows"
winrt-windows-devices-enumeration==2.3.0 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Windows"
winrt-windows-foundation-collections==2.3.0 ; python_version >= "3.11" and python_version < "3.14"
winrt-windows-foundation==2.3.0 ; python_version >= "3.11" and python_version < "3.14"
winrt-windows-storage-streams==2.3.0 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Windows"
winrt-windows-ui-notifications==2.3.0 ; python_version >= "3.11" and python_version < "3.14"
